.banner {
    background-color: cadetblue;
    height: 379px;
}
.component {
    text-align: center;
    margin-top: 50px;
}
.product {
    border: 1px solid red;
    text-align: left;
    display: inline-block;
    width: 249px;
    margin: 10px;
}
.product > div {
    margin-top: 5px;
}