.signinContainer {
    text-align: center;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-top: 80px;
}
#input {
    display : flex ;
    flex-direction : row ;
}
.login {
    width: fit-content;
    margin: auto;
}
.loginInput {
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.loginInput > input{
    width: 225px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.find {
    font-size: small;
}
.loginbtns {
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.loginbtns > button {
    width: 240px;
    height: 50px;
    font-size: large;
    border: 1px solid purple;
    border-radius: 3px;
    margin-top: 20px;
}
.loginBtn{
    background-color: purple;
    color: white;
}

.signinBtn{
    background-color: white;
    color: purple;
}
