input {
    width: 350px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
}
#input {
    display: flex;
    margin-bottom: 20px;
}
#inputTitle {
    width: 100px;
    line-height: 45px;
    
}
#input > div > button {
    height: 45px;
    border: 1px solid purple;
    border-radius: 3px;
    background: none;
    color: purple;
}
#checkbtn {
    width: 100px;
}
.addr {
    width: 365px;
}
.signup {
    width: 600px;
    margin-top: 80px;
    margin: auto;
}
.title {
    text-align: center;
}
#star {
    color: red;
}
#gray {
    color: gray;
}
.signupBtn {
    width: 240px;
    height: 60px;
    font-size: large;
    border: 1px solid purple;
    border-radius: 3px;
    margin: auto;
    margin-top: 20px;
    background-color: purple;
    color: white;
}
.btnDiv {
    margin: auto;
    width: fit-content;
}
#check {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
#check > input {
    width: 20px;
}
.terms {
    width: 500px;
}
.terms > div {
    display: flex;
    justify-content: space-between;
}
.terms > div > div > input {
    width: 20px;
}